$untyped-char-color: rgb(100, 102, 105);
$core-background-color: rgb(50, 52, 55);
$core-text-color: rgb(100, 102, 105);
$core-font-family: "Roboto mono", monospace;
$fancy-font-family: "Lexend Deca", sans-serif;
