@if(!timerService.timerHasStarted || timerService.timerHasFinished) {
<header>
  <h1>
    <img src="keyboard-cartoon.png">Practical Typing
  </h1>
  <button mat-icon-button [matMenuTriggerFor]="menu" id="hamburger-menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a routerLink="/">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Home</span>

      </button>
    </a>
    <a routerLink="/keyboard">
      <button mat-menu-item>
        <mat-icon>keyboard</mat-icon>
        <span>Keyboard Key Data</span>
      </button>
    </a>
    <a routerLink="/scores">
      <button mat-menu-item>
        <mat-icon>leaderboard</mat-icon>
        <span>Scores</span>
      </button>
    </a>
    <a routerLink="/pedagodgy">
      <button mat-menu-item>
        <mat-icon>school</mat-icon>
        <span>Pedagodgy</span>
      </button>
    </a>
  </mat-menu>

</header>
}
<main>
  <router-outlet></router-outlet>
  <footer>
    <div>


      <div>
        <p>Empowering learners with practical software engineering skills.</p>
        <p>&copy; 2023 Practical SWE Academy LLC. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
</main>
