@use '../variables.scss' as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  // justify-content: space-between;
  background-color: $core-background-color;
  font-family: $core-font-family;

}


#hamburger-menu {
  position: fixed;
  top: 28px;
  right: 28px;
}

#leaderboard-icon {
  position: fixed;
  top: 28px;
  right: 100px;
}

#emoji_events-icon {
  position: fixed;
  top: 28px;
  right: 70px;

}

#reset-data {
  position: fixed;
  top: 28px;
  right: 130px;
}


#hamburger-menu mat-icon {
  transform: scale(1.6);
}


header {
  z-index: 77;
  // height: 100px;
  width: 100%;
  max-height: 25vh;
  min-height: fit-content;
  max-width: 100vw;
  padding-bottom: 10px;
  border-bottom: 1px solid $untyped-char-color;
}

main {
  padding-top: 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // overflow: scroll;
  contain: content;
}


#speed-typing-container {

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#speed-typing-text {
  color: $untyped-char-color;
}

#speed-typing-text * {

  contain: content;
  color: $untyped-char-color;
  width: 100%;
  max-width: 80vw;
  overflow-wrap: anywhere;
  font-size: 32px;

}

header,
main,
footer {
  width: 100%;

}

img {
  max-width: 55px;
  margin-right: 10px;
  margin-left: 10px;
}

h1 {
  display: flex;
  // justify-content: center;
  align-items: center;
}

footer {
  position: relative;
  padding: 20px 0;
  border-top: 1px solid $untyped-char-color;
  margin-top: 20px;
  color: $untyped-char-color;
  text-align: center;
}

met-menu {
  z-index: 999999999;
}

div.mobile-message {

  display: none;
}

@media only screen and (max-width: 768px) {

  /* CSS rules for mobile devices */
  main,
  header {
    display: none;
  }

  /* CSS rules for mobile devices */
  div.mobile-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
  }
}
