:host {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: start;
}

* {
  text-align: center;
}

mat-list {
  height: 100%;
  width: 100%;
}




li {
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#high-scores-list {
  position: relative;
  max-height: 50vh;
  overflow: scroll;
}

span.dash-spacer {
  text-align: center;
}

h2 {
  top: 0;
}

#highest-score {
  position: relative;
  // top: 5%;
  color: #aaffaa;
}

.users-score {
  color: #aaffaa;

}
