@if (!timerService.timerHasStarted) {
<section>
  <button mat-button color="primary" (click)="textControls.reverseText()">
    Reverse
    <mat-icon>swap_horiz</mat-icon>
  </button>

</section>
<section id="run-types">

  @if(textControls.currentRunType === 'numbers') {

  <button mat-stroked-button (click)="textControls.setCurrentRunType('numbers')" color="primary">Numbers</button>
  } @else {
  <button mat-button (click)="textControls.setCurrentRunType('numbers')" color="primary">Numbers</button>

  }
  @if(textControls.currentRunType === 'letters') {
  <button mat-stroked-button (click)="textControls.setCurrentRunType('letters')" color="primary">Letters</button>

  } @else {
  <button mat-button (click)="textControls.setCurrentRunType('letters')" color="primary">Letters</button>

  }
  @if(textControls.currentRunType === 'special-characters') {
  <button mat-stroked-button (click)="textControls.setCurrentRunType('special-characters')" color="primary">Special
    Characters</button>

  } @else{
  <button mat-button (click)="textControls.setCurrentRunType('special-characters')" color="primary">Special
    Characters</button>

  }
</section>
<section>
  <mat-slider min="0" [max]="textControls.maxPossibleChars" (change)="textControls.handleTextSubstringChange()">
    <input [value]="textControls.currentEndIndex" matSliderThumb [(ngModel)]="textControls.currentEndIndex" min="1">
  </mat-slider>
  <div>Character Count: {{textControls.currentEndIndex}} </div>
</section>
}

<!-- - number run -->
<!-- - letter run -->
<!-- - special character run -->
