:host {
  display: flex;
  height: 80%;
  width: 100%;
}

app-fingers-svg {
  max-width: 70vw;
  max-height: 70vh;
  width: 800px;
  height: 800px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
