<!-- {{ -->
<!-- this.scoreService.scores | json -->
<!-- }} -->
<!-- }} -->
<!-- {{ -->
<!-- keyboardDataService.timeToPresses | json -->
<!-- }} -->
@if(!timerService.timerHasStarted) {
<practical-keyboard [timeToPresses]="keyboardDataService.timeToPressesAverage"></practical-keyboard>
}
<section id="text-controls">

  <practical-text-controls>
  </practical-text-controls>

  <practical-timer>
  </practical-timer>
</section>

<main>
  @if(currentHighestWpm()) {
  <span>Current High Score {{currentHighestWpm()}} WPM</span>
  }
  @if(!timerService.timerHasStarted) {

  <h4>Start Typing To Start</h4>
  }
  <div id="speed-typing-container">
    <div id="speed-typing-text" [currentHighSchore]="currentHighestWpm()" practicalSpeedTypingText
      [text]="textControlsService.currentText">
    </div>
  </div>


  @if(!timerService.timerHasStarted) {
  <practical-wpm-line-chart [data]="chartData" [title]="createTitleOfChart()">
  </practical-wpm-line-chart>
  }
</main>
